html {
    font-size: 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    color: white;    
}
.mobile-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu-icon {
    height: 44px;
    padding-right: 1rem;
}
h1 {
    padding-left: 1rem;
    text-align: center;
    margin: 0;
}
.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.menu-items-closed {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem;
}

.home-section {
    height: 400px;
    padding-top: 50px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-section h2 {
    font-size: 70px;
    color: white;
}
#headshot {
    margin-top: 20px;
    height: 200px;
    border-radius: 100%;
}
.about-section {
    height: 400px;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section p {
    margin: 30px;
}
h2 {
    font-size: 50px;
    color: white;
}
.about-section p {
    max-width: 800px;
    margin-top: 40px;
}
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: coral;
}
.project-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    background-size: cover;
    color: white;
    height: 200px;
    border-radius: 8px;
    margin: 25px;
}
.project-card img {
    width: 100%;
    
}
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: cornflowerblue;
    padding-bottom: 50px;
}
.name-email-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.contact-section form {
    width: 100%;
}
.form-group {
    padding: 0 20px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
}

/* Tablet css here */
@media only screen and (min-width:768px){
    .menu-icon {
        display: none;
    }
    nav {
        flex-direction: row;
    }
    .menu-items {
        display: flex;
        flex-direction: row;
    }
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-section form {
        max-width: 800px;
    }
    .name-email-container {
        flex-direction: row;
    }
    .form-group{
        flex-grow: 1;
    }
}

/* Desktop css here */
@media only screen and (min-width:1024px) {
    .project-container {
        grid-template-columns: repeat(3, 1fr);
    }
}