html {
    font-size: 15px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Cabin', sans-serif;
    color: #fff1d0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #689689;
}
.mobile-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu-icon {
    height: 44px;
    padding-right: 1rem;
}
h1 {
    font-family: 'Chau Philomene One', sans-serif;
    padding: .7rem 1rem;
    text-align: center;
    margin: 0;
}
.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.menu-items-closed {
    display: none;
}

nav a {
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem;
    color: #fff1d0;
}

.home-section {
    height: 90vh;
    padding-top: 50px;
    background-color: #d17b4c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-section h2 {
    font-size: 70px;
}
#headshot {
    margin-top: 20px;
    height: 200px;
    border-radius: 100%;
}
.about-section {
    height: 400px;
    background-color: #8377d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section p {
    margin: 30px;
    text-align: center;
}
h2 {
    font-size: 50px;
    padding: 50px 0;
}
.about-section p {
    max-width: 1200px;
    margin-top: 40px;
    font-size: 20px;
}
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    background-color: coral;
    padding: 50px 20px;
}
.project-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    width: 100%;
}
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    /* Make it stay 4:3 aspect ratio */
    width: 100%;
    padding-top: 66%; 
    
    background-size: contain;
    background-position: center;
    position: relative;
    border: 1px solid darkslateblue;

    position: relative;
}
.project-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.project-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.project-title h3 {
    font-size: 30px;
    z-index: 15;
    padding: .5rem;
    background-color: rgba(11, 19, 43, .4);
    border-radius: 8px;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    border-radius: 8px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    z-index: 20;
}
.project-overlay p {
    padding: 5% 10%;
    text-align: center;
}
.project-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 1s ease;
}
.project-overlay:hover {
    opacity: 1;
}
.project-overlay:hover ~ img {
    transform: scale(1.2);
}
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: cornflowerblue;
    padding-bottom: 80px;
}
.contact-section h2 {
    padding: 30px 0;
}
.button-container {
    display: flex;
    justify-content: center;
}
.name-email-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.contact-section form {
    width: 100%;
}
.form-group {
    padding: 0 20px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(11, 19, 43);
    z-index: 100;
}
.links a{
    text-decoration: none;
    padding: 0 1rem;
    color: #fff1d0;
} 

/* Tablet css here */
@media only screen and (min-width:768px){
    .menu-icon {
        display: none;
    }
    nav {
        flex-direction: row;
    }
    .menu-items {
        display: flex;
        flex-direction: row;
    }
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-section form {
        max-width: 800px;
    }
    .name-email-container {
        flex-direction: row;
    }
    .form-group{
        flex-grow: 1;
    }
}

/* Desktop css here */
@media only screen and (min-width:1024px) {
    .project-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
    }
}